extends layout

block content
	div.info-container
		h1 Node Contact Form Example

		p
			A small example contact form example made using Nodemailer, ExpressJS and Pug

		a(href='/contact') Go to contact